@charset "UTF-8";

/* Global Styles */

body {
	font-family: "BentonSansRegular", Arial;
	color: #242947;
	line-height: 1.5em;
	font-size: 1em; /* 16px (16/16) */
}
header {
	max-width: 960px;
	margin: 0px auto;
	position: relative; 
}
header img { display: block; position: relative; max-width: 100%; }

.pagewrap {
	max-width: 960px;
	margin: 0px auto;
	position: relative; 
	background-color: #fff;
	background: #fff url(../img/wrapbg.png) repeat-y 0px 0px
}

.contentwrap {
	font-size:.8125em;
	line-height: 1.5em;
}

.maincontent { width: 65%; float: left; margin: 15px 0 30px 0;}
.fullcontent { margin: 15px 0 30px 0;}

article { padding-right: 40px; }
.fullcontent article { padding-left: 40px; }


.twocol { 
	width: 50%; 
	float: left; 
}

.twocol.one .content { 
	padding: 40px 20px 30px 40px;
}
.twocol.two .content { 
	padding: 30px 40px 30px 20px;
}

.leftnav { width: 25%; float: left;}
.leftnav h1 {
	color: #a6430a;
	margin: 20px 0 0 20px;
	font-size: 1.2em;
	font-weight:bold;
	border-bottom: none; padding-bottom: 0; 
}
.leftnav h1 a {
	text-decoration:none;
}
.leftnav ul {
	list-style: none;
	padding: 20px;
}
.leftnav ul li {
	padding-left: 20px;
	padding-bottom: 10px;
}

blockquote {
	margin: 0 25px;
}
a { 
	color: #900;
	text-decoration:none;
	outline:none; 
}
a:hover { 
	text-decoration:underline; 
}

p { margin: 0px 0px 1em 0px; }

h1 { color: #242947; margin: 0.25em 0em 0.75em 0em; font-size: 1.75em; font-weight: normal; line-height: 1.25em;  padding-bottom: 0.0625em; }
h2 { color: #242947; font-size: 1.5em; margin: 1em 0em 0.5em 0em; }
h3 { color: #242947; font-size: 1.25em; margin: 1em 0em 0.5em 0em; }
h4 { color: #242947; font-size: 1.125em; margin: 1em 0em 0.5em 0em; }

.maincontent ul, .maincontent ol, .fullcontent ul, .fullcontent ol {
	margin: 1.5em 0px 1.5em 3em; 	
}

.maincontent ul li, .maincontent ol li, .fullcontent ul li, .fullcontent ol li {
	margin-bottom: .5em;	
}
.imgleft {
	float: left;
	padding: 5px;
	border: 1px solid #ccc;
	margin: 0px 20px 8px 0px;	
}

.imgright {
	float: right;
	padding: 5px;
	border: 1px solid #ccc;
	margin: 0px 0px 8px 20px;	
}

a.pdf { 
	padding-right: 23px;
	background: transparent url(../img/icon-pdf.gif) no-repeat center right;
}
a.doc { 
	padding-right: 20px;
	background: transparent url(../img/icon-doc.png) no-repeat center right;
}
a.ppt { 
	padding-right: 17px;
	background: transparent url(../img/icon-ppt.png) no-repeat center right;
}

a.cta {
	text-transform: uppercase;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
	margin: .5em 0 0 0;
	padding: 0px 12px 0px 0px;
	background: url(../img/cta_arrow.png) no-repeat right 0px;
}
a.cta:hover { background-position: right -20px; color:#a00; }

.clear-fix { clear: both; line-height: 1px; }

.rightbox {
	width: 200px;
	float:right;
	margin: 0 0 10px 25px;	
	padding: 10px;
	background-color:#eae8db;
	border-top: 5px solid #44697d;
	border-bottom: 5px solid #44697d;
	clear:right;
}
.rightbox h2 { color: #575c7a; font-size: 1.2em; margin: 0.5em 0em 1em 0em; }
/*css buttons */
.btn-white, .btn-white2 {
	-moz-box-shadow: 2px 4px 8px -2px #4f5252;
	-webkit-box-shadow: 2px 4px 8px -2px #4f5252;
	box-shadow: 2px 4px 8px -2px #4f5252;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #dddddd));
	background:-moz-linear-gradient(top, #f5f5f5 5%, #dddddd 100%);
	background:-webkit-linear-gradient(top, #f5f5f5 5%, #dddddd 100%);
	background:-o-linear-gradient(top, #f5f5f5 5%, #dddddd 100%);
	background:-ms-linear-gradient(top, #f5f5f5 5%, #dddddd 100%);
	background:linear-gradient(to bottom, #f5f5f5 5%, #dddddd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dddddd',GradientType=0);
	background-color:#f5f5f5;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#7d110c;
	font-size: 12px;
	text-align:center;
	padding:10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #bbb;
	width: 120px;
 	max-width: 100%;
	float:right;
	margin: 0 0 10px 30px;
	clear:right;
}
.btn-white2 {
	float:none;
	display:block;
	margin: 20px 0;
}
.btn-white:hover, .btn-white2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dddddd), color-stop(1, #f5f5f5));
	background:-moz-linear-gradient(top, #dddddd 5%, #f5f5f5 100%);
	background:-webkit-linear-gradient(top, #dddddd 5%, #f5f5f5 100%);
	background:-o-linear-gradient(top, #dddddd 5%, #f5f5f5 100%);
	background:-ms-linear-gradient(top, #dddddd 5%, #f5f5f5 100%);
	background:linear-gradient(to bottom, #dddddd 5%, #f5f5f5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#f5f5f5',GradientType=0);
	background-color:#dddddd;
	text-decoration:none;
}
.btn-white:active, .btn-white2:active {
	position:relative;
	top:1px;
}

/*table style*/
/*table {
	margin-top:20px;
	width:100%;
	border-collapse:collapse;
}
table tr:nth-of-type(even) { 
  background: #eee; 
}
table th {
	padding: 6px;
	background-color:#333;
	border:1px solid #ccc;
	cursor:pointer;
	color: #fff;
	text-align: left;
}
table td {
	padding: 6px;
	padding-left: 10px;
	border:1px solid #ccc;
	vertical-align:top;
}
table p {
	margin-top:0;
	margin-bottom:0;
}
table h3 { margin-left: 1em; }
*/

/* scrollUp style */
#scrollUp {
	bottom: 12px;
	right: 12px;
	height: 35px;
	width: 35px;
	background: url(../img/totop.png) no-repeat 0px -35px;
}
#scrollUp:hover {
	background: url(../img/totop.png) no-repeat 0px 0px;
}	
nav {
	width: 100%;
	display: block;
	position: relative;
	font-size:.75em;
}

nav ul#menu {
    width:100%;
    list-style:none;
	background-color: #13151b;
	position: relative;
	display: inline-table;
	z-index:5;
} 
nav ul:after {
		content: ""; clear: both; display: block;
	}	
nav ul#menu li {
	float:left;	
	}
nav ul li:hover {
	background: #4c4c4c;
	}
nav ul#menu li a {
	text-decoration:none;
	display: block; 
	padding: 10px 13px;
	color:#fff;
}

nav ul#menu ul {
	position: absolute;
	display:none;
	list-style:none;
	background-color: #bbb;
	font-weight:200;
	text-align:left;
	-moz-box-shadow: 0 0 6px #bbb;
	-webkit-box-shadow: 0 0 6px #bbb;
	box-shadow: 0 0 6px #bbb;
	
}

nav ul#menu li:hover > ul {
	display: block;
	
}
		
nav ul#menu ul li {	
	float: none;
	text-align:left;
	position: relative;
}
		
nav ul#menu ul li a {			
	display: block;
	width: auto;
	min-width: 200px;
	padding: 7px 12px;
	white-space: nowrap;
	text-decoration: none;
	background-color: #fff;
	color: #3a2221;
	border: 1px solid #ccc;
	border-top:none;
}
			
nav ul#menu li ul li a:hover {	
	background-color: #eee;
	color: #700;
}

nav ul#menu li ul li a#active {
	background-color: #f0f0f0;
	color: #666;
}

/*Hide sub-folder home*/
nav ul#menu ul li.main {
	display:none;
}
.leftnav ul li.main {
	display:none;
}
	
.slicknav_menu {
	display:none;
}

footer { 
	font-size:.75em;
	line-height: 1.25em; 
	padding: 10px 0 10px 20px; 
	background-color:#fff; 
	border-top: 6px solid #75504f; 
	position: relative; 
}
footer a.iublogo {
	background: url(../img/block-iu.png) no-repeat 0px 5px;
	width: 22px;
	height:31px;
	display: block; position: absolute; 
}
footer p {
	margin-left: 30px;
	margin-bottom: 5px;
}


/* 800px (800/16) */
@media screen and (max-width: 50em) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}

	/*display sub-folder home*/
	nav ul#menu ul li.main {
		display:block;
	}
}

/*600px */
@media screen and (max-width: 37.5em) {
	.maincontent { width: 100%;}
	.leftnav { display:none; }		
	article { padding: 0 20px; }	
	.fullcontent article { padding-left: 20px; }
	.rightbox {
		float:none;
		margin-left: 0;	
	}
}