@charset "UTF-8";
body { background-image: none;  }
/* Layout Small Screens */


.twocol {
	width: auto;
	float: none;
}
.twocol.one .content { padding: 20px 30px; border-bottom: 1px solid #ccc;}
.twocol.two .content { padding: 20px 30px; }

.imgleft {
	float: none;
	margin-right: 0px;
	display:block;	
}
.imgright {
	float: none;
	margin-left: 0px;	
	display:block;
}

/* Table display for small window */
	table.scudule, table.scudule thead, table.scudule tbody, table.scudule th, table.scudule td, table.scudule tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table.scudule thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.scudule tr { border: 1px solid #ccc; }
	
	table.scudule td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 45%; 
	}
	
	table.scudule td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/ 	 	
	table.scudule td:nth-of-type(1):before { content: "Date"; }
	table.scudule td:nth-of-type(2):before { content: "Presenter"; }
	table.scudule td:nth-of-type(3):before { content: "Place"; }

footer { border-top: 5px solid #75504f; }
footer p {
	margin-bottom: 20px;
}